*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

html {
  margin: 0;
}

body {
  background-color: black;
  font-family: 'Josefin Slab', serif;
  margin: 0;
  padding: 20px;
}

a {
  text-decoration: none;
  color: black;
}

.header {
  background-color: white;
  padding-left: 1em;
  height: 70px;
  width: 100%;
  margin: 0;
  padding-top: 1em;
 }

 .header h3 {
   padding: 0;
   margin: 0;
   width: 100%;
 }

 .header ul li {
   list-style: none;
   display: inline-block;
   margin-top: -10px;
   padding: 0;
   text-transform: capitalize;
   font-size: .6em;
   max-height: 900px;
   max-width: 1350px;
 }

.caption {
  color: white;
  margin-top: 10px;
  margin-left: .5em;
  line-height: 12px;
  margin-right: .5em;
  border-bottom: 2px solid white;

}

.background p {
  color: white;
  margin-top: .1em;
  margin-left: .5em;
}

.background {
  background-image: url("../img/inferno.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 40vh;
  margin-top: 50px;
}

.press, .about {
  width: 100%;
  padding-top: .1em;
  padding-left: .5em;
  margin-top: -.6em;
  background-color: white;
  color: black;
}


.press {
  height: 40px;
}

.about {
  height: 90px;
  margin-top: 1em;
  padding-right: 10px;
}

@media screen and (min-width: 700px) {

body {
  background-color: white;
  padding: 0;
}

.header {
  position: absolute;
  background-color: rgba(f, f, f, .6);
  width: 250px;
  height: 130px;
  top: 100px;;
}

.header ul li {
  display: block;
  overflow: auto;
  margin-top: 5px;

}

.background {
  height: 60vh;
  margin-top: 0;
}

.caption {
  display: none;
  height: 0;
}

  .press, .about {
    width: 50%;
    margin: 0;
    background-color: black;
    color: white;
    padding: 15;
    font-size: 1em;
    border: 5px solid white;
  }

  .press {
    float: left;
    height: 500px
  }

  .about {
    float: right;
    height: 500px;
  }

}

@media screen and (min-width: 1300px) {

  .caption {
    height: 0;
    display: none;

  }

  .background {
    height: 100vh;
    width: 75vw;
    float: left;
    position: absolute;
    z-index: -1;
  }

  .press {
    float: right;
    width: 24.2vw;
    height: 50vh;
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
  }
  .about {
    float: right;
    width: 24.2vw;
    height: 50vh;
    position: absolute;
    z-index: 1;
    bottom: 0;
    right: 0;
  }
}
