*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

/* For testing only */

/**:not(body):not(html):not(.container) {
  box-sizing:border-box;
  border:2px dashed #000;
}*/

/* End for testing */

@-ms-viewport{
  width: device-width;
}

html {
  overflow-y: scroll;
  display: block;
  margin: 0 auto;
  width: 100%
}

body {
  background-color: black;
  color: white;
}
.container {
  width: 100%;
  margin: 5% auto;
  padding: 0 5%;
  font-family: 'Roboto Condensed', sans-serif;
}

/*Header*/
.header {
  background-color: white;
  color: black;
  padding: 1px 20px;
  line-height: .8;
}

#icon {
  float: right;
  max-width: 100%
  height: auto;
  margin: auto 0;
  margin-top: -80px;
}
/*End Header*/

/*Navbar*/
.navbar li {
  display: inline-block;
  text-align: center;
  padding-right: 48px;
  margin-left: -40px;
  text-transform: uppercase;
  font-size: .7em;
}
/*End Navbar*/
.main h3{
  text-align: center;
}
.col1 h6  {
  text-align: left;

}

.col1 li {
  list-style: none;
  margin-left: -40px;
}

#haus {
  max-width: 100%;
  height: auto;
}

img {
  max-width: 100%;
  height: auto;
}


.featured {
  background-color: white;
  color: black;
  text-align: left;
  font-weight: bold;
  margin-top: -3px;
}


@media screen and (min-width: 768px) {

  .container {
    width: 100%;
    margin: auto;
  }

  .col1, .col2 {
    width: 48%;
    height: 50vh;
    margin: 5% 0 0 0;
  }

html, body {
  margin: 0;
  height: 100vh;
}



  .col1 {
    float: left;
  }

  .col2 {
    float:right;
    text-align: left;
  }

}

@media screen and (min-width: 1280px) {
  .main {
    float: left;
    width: 49%;
    height: 100vh;
}

  .col1, .col2 {
    float: right;
    height: 48vh;
    width: 49%;
  }

  .col1 {
    margin: 0 0 2vh 0;
  }

  .col2 {
    margin: 2vh 0 0 0;
  }
}
